@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.font-orbitron {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
}

.font-michroma {
  font-family: "Michroma", sans-serif;
}
